<div class="diagram-circle">
  <div class="diagram-circle__svg diagram-circle__svg--sector">
    <svg viewbox="0 0 36 36">
      <circle class="circle__round" r="15.95" cx="18" cy="18" style="stroke-dasharray: 50 100; stroke: #f95738;" />
      <circle class="circle__round" r="15.95" cx="18" cy="18" style="stroke-dashoffset: -50; stroke-dasharray: 10 100; stroke: #BE1C16;" />
      <circle class="circle__round" r="15.95" cx="18" cy="18" style="stroke-dashoffset: -60; stroke-dasharray: 20 100; stroke: #871910;" />
      <circle class="circle__round" r="15.95" cx="18" cy="18" style="stroke-dashoffset: -80; stroke-dasharray: 20 100; stroke: #54130A;" />
    </svg>
  </div>
</div>
