<!-- begin header -->
<div class="header">
  <!-- <div class="container"> -->

    <div class="header__wrap">

      <div class="burger"><span></span></div>

      <div class="header__logo">
        <a href="/" class="logo">Sellectica</a>
      </div>

      <div class="header__search">
        <form action="/" method="get" class="search">
          <label for="search"></label>
          <input class="input--search" id="search" name="search" value="" placeholder="Search here" type="text">
          <input type="submit" value="" class="input--submit">
        </form>
      </div>

      <div class="header__meta meta">
        <a href="#" class="meta__item meta__item--email"></a>
        <a href="#" class="meta__item meta__item--map"></a>
        <a href="#" class="meta__item meta__item--cart"></a>
      </div>

      <div class="header__face face">
        <div class="face__img">
          <img src="img/face.jpg" alt="">
        </div>
      </div>

    </div>

  <!-- </div> -->
</div>
<!-- end header -->
