<!-- begin header -->
<div class="header">
  <!-- <div class="container"> -->

    <div class="header__wrap">

      <div class="burger js-menu-open"><span></span></div>

      <div class="header__logo">
        <a href="/" class="logo">Sellectica</a>
      </div>

      <div class="header__search">
        <form action="/" method="get" class="search">
          <label for="search"></label>
          <input class="input--search" id="search" name="search" value="" placeholder="Search here" type="text">
          <input type="submit" value="" class="input--submit">
        </form>
      </div>

      <div class="header__meta meta">
        <button data-modal-target="MODAL-1" class="js-modal-trigger">Modal</button>
      </div>

      <div class="header__face face">
        <div class="face__img">
          <img src="img/face.jpg" alt="">
        </div>
      </div>

    </div>

  <!-- </div> -->
</div>
<!-- end header -->

<!-- begin modal -->
<div class="modal" data-modal-id="MODAL-1">
  <div class="modal__inner">
    <div class="modal__close js-modal-close"></div>
      <h2>Модальное окно</h2>
      <p>
          Переполнение текстом, чтобы показать поведение с прокруткой
          Кра маттис миннеаполис пурус сидеть амет любого fermentum.. Одио хусто Кра, dapibus AC и это в, egestas егет квам. Морби Лео рисус, порта переменного тока миннеаполис переменного тока, преддверия на Эрос.
      </p>
      <p>
          Переполнение текстом, чтобы показать поведение с прокруткой
          Кра маттис миннеаполис пурус сидеть амет любого fermentum.. Одио хусто Кра, dapibus AC и это в, egestas егет квам. Морби Лео рисус, порта переменного тока миннеаполис переменного тока, преддверия на Эрос.
      </p>
      <p>
          Переполнение текстом, чтобы показать поведение с прокруткой
          Кра маттис миннеаполис пурус сидеть амет любого fermentum.. Одио хусто Кра, dapibus AC и это в, egestas егет квам. Морби Лео рисус, порта переменного тока миннеаполис переменного тока, преддверия на Эрос.
      </p>
      <p>
          Переполнение текстом, чтобы показать поведение с прокруткой
          Кра маттис миннеаполис пурус сидеть амет любого fermentum.. Одио хусто Кра, dapibus AC и это в, egestas егет квам. Морби Лео рисус, порта переменного тока миннеаполис переменного тока, преддверия на Эрос.
      </p>
      <p>
          Переполнение текстом, чтобы показать поведение с прокруткой
          Кра маттис миннеаполис пурус сидеть амет любого fermentum.. Одио хусто Кра, dapibus AC и это в, egestas егет квам. Морби Лео рисус, порта переменного тока миннеаполис переменного тока, преддверия на Эрос.
      </p>
      <p>
          Переполнение текстом, чтобы показать поведение с прокруткой
          Кра маттис миннеаполис пурус сидеть амет любого fermentum.. Одио хусто Кра, dapibus AC и это в, egestas егет квам. Морби Лео рисус, порта переменного тока миннеаполис переменного тока, преддверия на Эрос.
      </p>
      <p>
          Переполнение текстом, чтобы показать поведение с прокруткой
          Кра маттис миннеаполис пурус сидеть амет любого fermentum.. Одио хусто Кра, dapibus AC и это в, egestas егет квам. Морби Лео рисус, порта переменного тока миннеаполис переменного тока, преддверия на Эрос.
      </p>

  </div>
</div>
<!-- end modal -->
