
<!-- begin nav -->
<div class="nav">
  <!-- <div class="container"> -->

    <ul class="nav__list">
      <li class="nav__item nav__item--is-active"><a href="#" style="background-image: url(img/icon-dash.png);">Dashboard</a></li>
      <li class="nav__item"><a href="#" style="background-image: url(img/icon-stac.png);">Stactics</a></li>
      <li class="nav__item"><a href="#" style="background-image: url(img/icon-sales.png);">Sales</a></li>
      <li class="nav__item"><a href="#" style="background-image: url(img/icon-cust.png);">Customers</a></li>
      <li class="nav__item"><a href="#" style="background-image: url(img/icon-sett.png);">Settings</a></li>
    </ul>

  <!-- </div> -->
</div>
<!-- end nav -->

