<!-- begin section -->
<div class="section section--two">
  <div class="container">

    <!-- begin section__wrap -->
    <div class="section__wrap">

      <!-- begin section__item-v2 chart -->
      <div class="section__item-v2 chart">

        <div class="chart__head">
          <h2 class="chart__title">Sales flow chart</h2>
          <div class="cart__buttons buttons">
            <button class="button button--menu"></button>
            <button class="button button--options"></button>
          </div>
        </div>

        <div class="chart__main">
          <br>
          <canvas id="salesFlowChart" width="100%" height="30%"></canvas>
          <br>
        </div>

        <div class="chart__more">
          <a href="#" class="more">See full list</a>
        </div>


      </div>
      <!-- end section__item-v2 chart -->

    </div>
    <!-- end section__wrap -->

  </div>
</div>
<!-- end section -->


