{% import "helpers/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="none" href="css/app.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js" defer></script>
    <!-- <script src="js/picturefill.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" defer></script>
    {# {% include "layouts/_media-tags.html" %} #}

  </head>
  <body>

    <!-- BEGIN content -->
      {% block content %}{% endblock %}
      <a class="to-top" id="to-top" href="#">↑</a>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script>
      (function() {
        document.querySelector('link[media="none"]').setAttribute('media', 'all');
      })()
    </script>
    <script src="js/vendor.js" defer></script>
    <script src="js/app.js" defer></script>

    <script src="js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- END scripts -->

  </body>
</html>
