.icon-icon-quotes {
  width: 1.23em;
  height: 1em;
  fill: #efefef;
}
.icon-logo-android {
  width: 0.89em;
  height: 1em;
  fill: #A4C639;
}
.icon-logo-apple {
  width: 0.81em;
  height: 1em;
  fill: #FFF;
}
.icon-logo-htmlacademy {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-logo-icon-editor-contrast {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-icon-editor-crop {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-icon-editor-fill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-icon-facebook {
  width: 0.46em;
  height: 1em;
  fill: initial;
}
.icon-logo-icon-twitter {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-logo-icon-youtube {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-logo-microsoft {
  width: 1.05em;
  height: 1em;
  fill: #F05423;
}
